*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, article, nav, aside, footer{
    padding: 1rem;
}

header, footer{
    height: 20vh;
    width: 70vw;
    background-color: khaki;
}

.container{
    display: flex;
    flex-grow: 1;
}

aside{
    background-color: pink;
    flex: 0 0 20vw;
}

article{
    flex-grow: 1;
    height: 60vh;
}

.tugas8{
    display: flex;
}

nav{
    background-color: rgb(124, 181, 231);
    flex: 0 0 30vw;
}